#ui-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#bottom-bar {
    margin-top: auto;
    background-color: grey;
}

.hgrid {
    display: flex;
    overflow-x: auto;
}

#bottom-bar .item {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    background-color:red;
    flex-shrink: 0;
}

#bottom-bar .item:hover {
    background-color: pink;
}

